# Kanged from https://android.googlesource.com/device/google/wahoo/+/refs/heads/pie-platform-release/sepolicy/vendor/hal_drm_widevine.te
# policy for /vendor/bin/hw/android.hardware.drm@1.1-service.widevine

# === start kang ===

# type hal_drm_widevine, domain;
# type hal_drm_widevine_exec, exec_type, vendor_file_type, file_type;
#init_daemon_domain(hal_drm_widevine)
#hal_server_domain(hal_drm_widevine, hal_drm)
vndbinder_use(hal_drm_widevine);

#allow hal_drm_widevine mediacodec:fd use;
allow hal_drm_widevine { appdomain -isolated_app }:fd use;

allow hal_drm_widevine hal_allocator_server:fd use;
#allow hal_drm_widevine mediadrm_vendor_data_file:dir create_dir_perms;
#allow hal_drm_widevine mediadrm_vendor_data_file:file create_file_perms;

# === end kang ===


# kanged from
# https://github.com/LineageOS/android_device_samsung_sm7125-common/blob/lineage-21/sepolicy/vendor/hal_drm_widevine.te

# type hal_drm_widevine, domain;
hal_server_domain(hal_drm_widevine, hal_drm);

# type hal_drm_widevine_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(hal_drm_widevine);

#allow hal_drm_widevine vendor_mediadrm_vendor_data_file:dir { read write add_name create getattr search };
#allow hal_drm_widevine vendor_mediadrm_vendor_data_file:file { read write open create getattr };

allow hal_drm_widevine mediadrm_vendor_data_file:dir create_dir_perms;
allow hal_drm_widevine mediadrm_vendor_data_file:file create_file_perms;

# allow hal_drm_widevine vendor_qce_device:chr_file { read write ioctl open };

# allow hal_drm_widevine vendor_hal_display_config_hwservice:hwservice_manager find;
binder_call(hal_drm_widevine, hal_graphics_composer_default)
allow hal_drm_widevine hal_graphics_composer_default:binder transfer;

allow hal_drm_widevine mediacodec:fd use;