allow system_server sensors_data_file:file rw_file_perms;
allow system_server iio_device:chr_file r_file_perms;

r_dir_file(system_server, app_efs_file)

allow system_server build_bootimage_prop:file r_file_perms;
allow system_server efs_file:dir search;
allow system_server exported_camera_prop:file r_file_perms;
allow system_server init:binder call;
allow system_server init:process setsched;
allow system_server userspace_reboot_config_prop:file r_file_perms;
allow system_server userspace_reboot_exported_prop:file r_file_perms;
allow system_server vendor_security_patch_level_prop:file r_file_perms;

allow system_server future_pm_prop:file r_file_perms;
allow system_server proc:file r_file_perms;
allow system_server sensors_data_file:file unlink;
allow system_server system_data_root_file:dir w_dir_perms;
allow system_server system_data_root_file:file create_file_perms;
allow system_server vendor_file:file rx_file_perms;
