#============= untrusted_app_32 ==============
allow untrusted_app_32 aac_drc_prop:file r_file_perms;
allow untrusted_app_32 ab_update_gki_prop:file r_file_perms;
allow untrusted_app_32 adaptive_haptics_prop:file r_file_perms;
allow untrusted_app_32 alarm_boot_prop:file r_file_perms;
allow untrusted_app_32 apex_info_file:file r_file_perms;
allow untrusted_app_32 app_efs_file:dir r_dir_perms;
allow untrusted_app_32 app_efs_file:file r_file_perms;
allow untrusted_app_32 block_device:dir r_dir_perms;
allow untrusted_app_32 bluetooth_efs_file:dir search;
allow untrusted_app_32 build_bootimage_prop:file r_file_perms;
allow untrusted_app_32 efs_file:dir r_dir_perms;
allow untrusted_app_32 efs_file:file r_file_perms;
allow untrusted_app_32 linkerconfig_file:dir r_dir_perms;
allow untrusted_app_32 mirror_data_file:dir r_dir_perms;
allow untrusted_app_32 persist_file:dir r_dir_perms;
allow untrusted_app_32 proc:file r_file_perms;
allow untrusted_app_32 proc_asound:dir r_dir_perms;
allow untrusted_app_32 proc_asound:file r_file_perms;
allow untrusted_app_32 proc_net:file r_file_perms;
allow untrusted_app_32 proc_net_tcp_udp:file r_file_perms;
allow untrusted_app_32 proc_version:file r_file_perms;
allow untrusted_app_32 rmt_storage_exec:file r_file_perms;
allow untrusted_app_32 selinuxfs:file r_file_perms;
allow untrusted_app_32 serialno_prop:file r_file_perms;
allow untrusted_app_32 sysfs:file r_file_perms;
allow untrusted_app_32 sysfs_batteryinfo:dir r_dir_perms;
allow untrusted_app_32 sysfs_batteryinfo:file r_file_perms;
allow untrusted_app_32 sysfs_graphics:dir r_dir_perms;
allow untrusted_app_32 sysfs_graphics:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:file r_file_perms;
allow untrusted_app_32 sysfs_kgsl:lnk_file r_file_perms;
allow untrusted_app_32 unlabeled:dir search;
allow untrusted_app_32 unlabeled:file r_file_perms;
allow untrusted_app_32 user_profile_data_file:dir r_dir_perms;
allow untrusted_app_32 userdebug_or_eng_prop:file r_file_perms;
allow untrusted_app_32 vendor_file:file rx_file_perms;
allow untrusted_app_32 vendor_toolbox_exec:file r_file_perms;
allow untrusted_app_32 wifi_hal_prop:file r_file_perms;
