#============= odrefresh ==============
dontaudit odrefresh property_type:file { getattr open read map };
allow odrefresh vendor_file:file r_file_perms;
